.contenedorNav{
    position:fixed;
    top: 0px;
    background-color: rgb(27, 32, 37);
    z-index: 120;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: 4px 4px 20px rgb(56, 130, 164);
}
.Logo{
    width:170px;
    position: relative;
    margin-left:3.5rem;
}

.contenedorSearch, .contenedorBoton{
    width: 50%;
}

.contenedorBoton{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.contenedorBoton button{
margin-top: 1.5rem;
}

.botonNav{
    background: none;
    border: none;
    color: aliceblue;
    font-size: 30px;
}

.linkNav{
    text-decoration: none;
    color: aliceblue;
    font-size: 25px;
}
.linkNav:hover{
    color: rgb(56, 130, 164);
    transition: .3s;
}

.exit{
    width: 30px;
    height: 30px;
    filter: invert(100%);
    position: relative;
    right: 2%;
    cursor: pointer;
}
@media(max-width:940px){
.contenedorNav{
height: 200px
}
.botonNav{
  padding-top: 3rem;
}
.contenedorBoton img{
    margin-left: 8em;
}
}
@media(max-width:680px){
    .contenedorNav{
    height: 245px
    }
    .botonNav{
      padding-top: 3rem;
    }
    .contenedorBoton img{
        margin-left: 2em;
    }
    }
    @media(max-width:680px){
       
        .contenedorNav {
            flex-direction: column;
        }
        .contenedorBoton img{
            position: relative;
            left: 60%;
            justify-content: center;
        }
        .contenedorBoton{
            margin-bottom: 1rem;
            margin-left:-15rem
        }
        }
    @media (max-width:412px ) {
        .contenedorBoton{
        margin-right:7rem;
        }
        .contenedorBoton img{
            position: relative;
            left: 95%;
        }
    }